/* Empty. Add your own CSS if you like */

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.messages li {
    display: block;
    clear: both;
    /*    max-width: 50%;*/
    width: -moz-fit-content;
    margin: 0 0 1rem 0;
    padding: 0;
}
.messages li.us {
    float: right;
}
.messages li.us img {
    float: right;
}
.messages p {
    border-radius: .75rem;
    background: #6DD900;
    color: #fff;
    padding: 7px 19px;
    margin: 0;
    font-size: 14px;
    position: relative;
    text-align: right;
}
.messages li.them p {
    background: #eee;
    color: #000;
    max-width: 75%;
    width: auto;
    display: inline-block;
    text-align: left;
}
.messages img {
    display: block;
    max-width: 65%;
    border-radius: .75rem;
}
.bar.bar-white.bar-footer {
    background-color: white;
    border-color: #bfbfbf;
}
.bar.bar-stable {
    border-color: #bfbfbf;
    background-color: white;
    background-image: -webkit-linear-gradient(90deg, #fff, #fff 50%, transparent 50%);
    background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
    color: #262626;
}
.chat-bar form {
    width: 100%;
    position: relative;
}
.chat-bar input {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    padding: 0 5px;
}
.offline {
    color: #FF7373;
}
.online {
    color: #53DD6D;
}
.sergy-title h5 {
    margin: 10px 0 0;
    text-transform: uppercase;
}
.bar .title {
    text-transform: uppercase;
    font-size: 14px;
}
.sergy-title p {
    margin: -15px 0 0;
    font-size: 10px;
    font-weight: normal;
    color: #aaa;
}
.small {
    font-size: 10px;
    vertical-align: middle;
}
.chat-bar input[type="submit"] {
    border: 0px;
    font-weight: 500;
}
.title.icon {
    font-size: 33px;
}
.bar.bar-dark {
    border-color: #191919;
    background-color: #191919;
    background-image: -webkit-linear-gradient(90deg, #191919, #191919 50%, transparent 50%);
    background-image: linear-gradient(0deg, #191919, #191919 50%, transparent 50%);
    color: #fff;
}
.icon1 {
    background: url("../img/menu-icon.png") no-repeat top left;
    margin: 0 5px 0 -5px;
    display: inline-block;
    vertical-align: middle;
}
.icon2 {
    background: url("../img/tabs.png") no-repeat top left;
    margin: 0 5px 0 -5px;
    display: inline-block;
    vertical-align: middle;
}
.tab-item-active .icon2 {
    background-image: url("../img/tabs-w.png");
}
.icon1.white {
    background-image: url("../img/menu-icon-w.png");
}
.bar .icon1 {
    margin-top: 5px;
}
.i-order {
    background-position: 0px 0px;
    width: 32px;
    height: 23px;
    background-size: 100%;
}
.i-return {
    background-position: -1px -24px;
    width: 32px;
    height: 25px;
    background-size: 100%;
}
.i-shipping {
    background-position: 0px -48px;
    width: 32px;
    height: 22px;
    background-size: 100%;
}
.i-billing {
    background-position: 0px -70px;
    width: 32px;
    height: 19px;
    background-size: 100%;
}
.i-setting {
    background-position: 0px -89px;
    width: 32px;
    height: 24px;
    background-size: 100%;
}
.i-travel {
    background-position: 0px 0px;
    width: 32px;
    height: 22px;
    background-size: 400px;
}
.i-hotel {
    background-position: -87px 0px;
    width: 32px;
    height: 22px;
    background-size: 400px;
}
.i-good {
    background-position: -172px 0px;
    width: 40px;
    height: 22px;
    background-size: 400px;
}
.i-show {
    background-position: -271px 0px;
    width: 34px;
    height: 22px;
    background-size: 400px;
}
.i-bill {
    background-position: -371px 0px;
    width: 33px;
    height: 22px;
    background-size: 400px;
}
.menus-content .item {
    border: 0px;
    text-transform: uppercase;
    color: white;
    background: #191919;
}
.menus-content .item-content {
    background: #191919;
}
.menus-content .item-content.activated {
    background: #bfbfbf;
    color: white;
}
.menus-content .after-menu .item-content.activated {
    background: #191919;
    color: white;
}
.menus-content {
    background: #191919;
}
.menus-content .after-menu .item {
    border: 0px;
    text-transform: uppercase;
    color: #444;
}
.menus-content .after-menu .item-complex .item-content,
.menus-content .item-radio .item-content {
    font-weight: bold;
    font-size: 13px;
    padding: 0;
}
.menus-content .after-menu .item {
    font-weight: bold;
    font-size: 12px;
    padding: 10px 0 10px 50px;
}
.footer {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #444;
    padding: 14px 5px 4px;
    color: #444;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 45px;
}
.f2x {
    font-size: 20px;
    vertical-align: middle;
}
.small-right {
    font-size: 10px;
    color: #444;
}
.messages p:after {
    border-left: 10px solid #6DD900;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    right: -10px;
    top: 20px;
}
.messages li.them p:after {
    border-right: 10px solid #EEEEEE;
    border-left: 10px solid transparent;
    right: initial;
    left: -20px;
}
a.tab-item {
    opacity: 1;
}
.big-txt .tab-title {
    font-size: 14px;
    color: #ababab;
    text-transform: uppercase;
}
.big-txt .tab-item-active .tab-title {
    color: white;
}
.tabs {
    background: white;
    height: 53px;
    border-color: #bfbfbf;
}
.tab-item.activated,
.tab-item.active,
.tab-item.tab-item-active {
    background: #111;
}
.tab-item {
    padding-top: 4px;
}
span.datetime {
    font-size: 11px;
    opacity: 0.6;
}
.item-select select.inform {
    padding: 0px;
    height: 24px;
    position: relative;
}
input.form-control.inform {
    padding: 15px;
}
span.form-title {
    padding: 0px 0px 6px;
    display: block;
    margin: 13px 0px;
    text-transform: CAPITALIZE;
    font-size: 110%;
    font-weight: 300;
    color: #5F5F5F;
    border-bottom: 1px solid #B5B5B5;
}
span.assertive.inform {
    margin-bottom: 10px;
    display: block;
    margin-top: -5px;
    text-transform: none;
}