/* Empty. Add your own CSS if you like */

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.messages li {
    display: block;
    clear: both;
    /*    max-width: 50%;*/
    width: -moz-fit-content;
    margin: 0 0 1rem 0;
    padding: 0;
}
.messages li.us {
    float: right;
}
.messages li.us img {
    float: right;
}
.messages p {
    border-radius: .75rem;
    background: #6DD900;
    color: #fff;
    padding: .6875rem;
    margin: 0;
    font-size: .875rem;
}
.messages li.them p {
    background: #eee;
    color: #000;
    max-width: 75%;
    width: auto;
    display: inline-block;
}
.messages img {
    display: block;
    max-width: 65%;
    border-radius: .75rem;
}
.bar.bar-white.bar-footer {
    background-color: white;
    border-color: #bfbfbf;
}
.bar.bar-stable {
    border-color: #bfbfbf;
    background-color: white;
    background-image: -webkit-linear-gradient(90deg, #fff, #fff 50%, transparent 50%);
    background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
    color: #262626;
}
.chat-bar form {
    width: 100%;
    position: relative;
}
.chat-bar input {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    padding: 0 5px;
}

.offline {
    color: #FF7373;
}
.sergy-title h5 {
    margin: 10px 0 0;
    text-transform: uppercase;
}
.sergy-title p {
    margin: -15px 0 0;
    font-size: 10px;
    font-weight: normal;
    color: #aaa;
}

.small {
    font-size: 10px;
    vertical-align: middle;
}
.chat-bar input[type="submit"] {
    border: 0px;
    font-weight: 500;
}