/* Empty. Add your own CSS if you like */

.messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.messages li {
    display: block;
    clear: both;
    /*    max-width: 50%;*/
    width: -moz-fit-content;
    margin: 0 0 1rem 0;
    padding: 0;
}
.messages li.us {
    float: right;
}
.ng-invalid.ng-dirty {
    border: 1px solid red;
}
.messages li.us img {
    float: right;
}
.messages p {
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    border-radius: .75rem;
    background: #6DD900;
    color: #fff;
    padding: 7px 19px;
    margin: 0;
    font-size: 14px;
    position: relative;
    text-align: right;
}
.messages li.them p {
    background: #eee;
    color: #3a3a3a;
    max-width: 75%;
    width: auto;
    display: inline-block;
    text-align: left;
}
.messages img {
    display: block;
    max-width: 65%;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    border-radius: .75rem;
}
.bar.bar-white.bar-footer {
    background-color: white;
    border-color: #bfbfbf;
    padding-top: 0;
    padding-bottom: 0;
}
.bar.bar-stable {
    border-color: #bfbfbf;
    background-color: white;
    background-image: -webkit-linear-gradient(90deg, #fff, #fff 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #fff, #fff 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #fff, #fff 50%, transparent 50%);
    background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
    color: #262626;
}
.chat-bar form {
    width: 100%;
    position: relative;
}
.chat-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    padding: 0 5px;
    margin-top: 5px;
}
.offline {
    color: #FF7373;
}
.online {
    color: #53DD6D;
}
.waiting {
    color: #EFED29;
}
.sergy-title h5 {
    margin: 10px 0 0;
    text-transform: uppercase;
}
.bar .title {
    text-transform: uppercase;
    font-size: 14px;
}
.sergy-title p {
    margin: -15px 0 0;
    font-size: 10px;
    font-weight: normal;
    color: #aaa;
}
.small {
    font-size: 10px;
    vertical-align: middle;
}
.chat-bar input[type="submit"] {
    border: 0px;
    font-weight: 500;
}
.title.icon {
    font-size: 33px;
}
.bar.bar-dark {
    border-color: #191919;
    background-color: #191919;
    background-image: -webkit-linear-gradient(90deg, #191919, #191919 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #191919, #191919 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #191919, #191919 50%, transparent 50%);
    background-image: linear-gradient(0deg, #191919, #191919 50%, transparent 50%);
    color: #fff;
}
.icon1 {
    background: url("../img/menu-icon.png") no-repeat top left;
    margin: 0 5px 0 -5px;
    display: inline-block;
    vertical-align: middle;
}
.icon2 {
    background: url("../img/tabs.png") no-repeat top left;
    margin: 0 5px 0 -5px;
    display: inline-block;
    vertical-align: middle;
}
.tab-item-active .icon2 {
    background-image: url("../img/tabs-w.png");
}
.icon1.white {
    background-image: url("../img/menu-icon-w.png");
}
.bar .icon1 {
    margin-top: 5px;
}
.i-order {
    background-position: 0px 0px;
    width: 32px;
    height: 23px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.i-return {
    background-position: -1px -24px;
    width: 32px;
    height: 25px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.i-shipping {
    background-position: 0px -48px;
    width: 32px;
    height: 22px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.i-billing {
    background-position: 0px -70px;
    width: 32px;
    height: 19px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.i-setting {
    background-position: 0px -89px;
    width: 32px;
    height: 24px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.i-travel {
    background-position: 0px 0px;
    width: 32px;
    height: 22px;
    -webkit-background-size: 400px 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
}
.i-hotel {
    background-position: -87px 0px;
    width: 32px;
    height: 22px;
    -webkit-background-size: 400px 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
}
.i-good {
    background-position: -172px 0px;
    width: 40px;
    height: 22px;
    -webkit-background-size: 400px 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
}
.i-show {
    background-position: -271px 0px;
    width: 34px;
    height: 22px;
    -webkit-background-size: 400px 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
}
.i-bill {
    background-position: -371px 0px;
    width: 33px;
    height: 22px;
    -webkit-background-size: 400px 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
}
.menus-content .item {
    border: 0px;
    text-transform: uppercase;
    color: white;
    background: #191919;
}
.menus-content .item-content {
    background: #191919;
}
.menus-content .item-content.activated {
    background: #bfbfbf;
    color: white;
}
.menus-content .after-menu .item-content.activated {
    background: #191919;
    color: white;
}
.menus-content {
    background: #191919;
}
.menus-content .after-menu .item {
    border: 0px;
    text-transform: uppercase;
    color: #444;
}
.menus-content .after-menu .item-complex .item-content,
.menus-content .item-radio .item-content {
    font-weight: bold;
    font-size: 13px;
    padding: 0;
}
.menus-content .after-menu .item {
    font-weight: bold;
    font-size: 12px;
    padding: 10px 0 10px 50px;
}
.footer {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #444;
    padding: 14px 5px 4px;
    color: #444;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 45px;
}
.f2x {
    font-size: 20px;
    vertical-align: middle;
}
.small-right {
    font-size: 10px;
    color: #444;
}
.messages p:after {
    border-left: 10px solid #6DD900;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    right: -10px;
    top: 20px;
}
.messages li.them p:after {
    border-right: 10px solid #EEEEEE;
    border-left: 10px solid transparent;
    right: initial;
    left: -20px;
}
a.tab-item {
    opacity: 1;
}
.big-txt .tab-title {
    font-size: 14px;
    color: #ababab;
    text-transform: uppercase;
}
.big-txt .tab-item-active .tab-title {
    color: white;
}
.tabs {
    background: white;
    height: 53px;
    border-color: #bfbfbf;
}
.tab-item.activated,
.tab-item.active,
.tab-item.tab-item-active {
    background: #111 !important;
}
.tab-item {
    padding-top: 4px;
}
span.datetime {
    font-size: 11px;
    opacity: 0.6;
}
.item-select select.inform {
    padding: 0px;
    height: 24px;
    position: relative;
    background: transparent;
}
input.form-control.inform {
    padding: 15px 0;
}
span.form-title {
    padding: 0px 0px 0px;
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}
span.form-info {
    padding: 1px;
    display: block;
    margin: 5px 0px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    color: #3A3A3A;
    border-bottom: 1px solid #3A3A3A;
    text-align: right;
}
span.assertive.inform {
    margin-bottom: 10px;
    display: block;
    margin-top: -5px;
    text-transform: none;
}
#search-bar {
    background: none;
    position: absolute;
    width: 100%;
    top: 44px;
    height: 40px;
    z-index: 3;
}
#filter-tab {
    background: white;
    position: absolute;
    width: 100%;
    top: 94px;
    height: 32px;
    z-index: 3;
    text-align: center;
    color: #ccc;
    border-bottom: 1px solid #ccc;
}
#search-bar .item {
    background: #e8e8e8;
    border: none;
}
#content {
    top: 44px;
    padding-top: 45px;
    padding-bottom: 20px;
}
#search-input {
    background: white;
}
.item-custom {
    border: 0;
}
.item-custom h2 {
    font-weight: bold;
}
.item-custom h2,
.item-custom p,
.item-custom a {
    margin-bottom: 10px;
}
.item-custom .button {
    width: 80%;
    padding: 6px 0;
    margin: 0;
}
.item-good .item-content {
    padding: 20px 10px 20px 140px;
    margin: 0;
}
.item-thumbnail-left.item-good {
    padding-left: 120px;
}
.item-custom:nth-child(even) {
    background: #f8f8f8;
}
.item-custom:nth-child(even) .item-content.activated {
    background: #d9d9d9;
}
a {
    color: inherit;
    font-size: inherit;
}
a.no-deco {
    text-decoration: none;
    display: block;
}
p.price {
    color: #333;
}
p.greyish {
    color: #999;
}
.box-thumbnail {
    height: 175px;
    position: absolute;
    left: 10px;
    width: 110px;
}
.box-thumbnail.inside-page {
    position: static;
    margin: 0 auto;
    width: 70%;
}
img.full-height {
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}
.slide-hold {
    height: 170px;
    padding-bottom: 12px;
    width: 100%;
    overflow: hidden;
}
.inside-page .slide-hold {
    height: 200px;
}
.box-thumbnail .slider-pager {
    bottom: 2px;
}
.box-thumbnail .slider-pager i {
    font-size: 9px;
}
.box-thumbnail .slider-pager .slider-pager-page {
    width: 9px;
}
#filter-tab .row,
.no-pad {
    padding: 0;
}
#filter-tab .active {
    color: black;
}
#filter-tab .active>span {
    border-bottom: 2px solid black;
}
.has-header1 {
    top: 44px;
}
.item-travel h2,
.item-travel p,
.item-travel a {
    margin-bottom: 15px;
}
.flight {
    height: 100px;
}
.flight h3 {
    font-size: 12px;
}
.flight p {
    font-size: 10px;
}
.flight+.flight {
    margin-top: 10px;
}
.item-custom {
    padding: 5px 5px;
}
.img-pad {
    padding-right: 5px;
    padding-top: 3px;
}
.flight p,
.flight h3 {
    line-height: 150%;
    margin: 0;
}
.tabs-bottom>.tabs,
.tabs.tabs-bottom {
    top: auto;
}
.bar .title.title-left {
    text-align: center;
}
.icon.small:before {
    font-size: 14px;
}
.button.button-stable {
    color: #666666;
}
/*Jhol with IONIC*/

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
    margin-top: 0px
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 44px
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader,
.platform-ios.platform-cordova:not(.fullscreen) .has-header,
.platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs,
.platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 44px
}
/*Jhol with IONIC*/

.has-search {
    top: 94px !important;
}
.has-filter {
    top: 127px !important;
}
input.form-control,
.item-select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.us span.form-title,
.us span.form-info {
    color: white;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 600;
    text-align: left;
}
.us button.button-positive.button-outline {
    border-color: #FFFFFF;
    background: 0 0;
    color: #FFFFFF;
}
.them button.button-positive.button-outline {
    border-color: #3a3a3a;
    background: 0 0;
    color: #3a3a3a;
}
.oncursor {
    cursor: pointer;
}
.button.button-positive.button-outline.activated,
.button.button-positive.button-outline.active {
    background-color: #3a3a3a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
}
.item-select select {
    top: 1px;
}
.text-justify {
    text-align: justify;
}