<ion-view>
   <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios7-arrow-thin-left" nav-clear ui-sref="tab.good"></button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="has-header1 padding">


           <div class="box-thumbnail inside-page">
                    <ion-slide-box>
                        <ion-slide>
                            <div class="slide-hold">
                                <img ng-src="{{product.image | imagepath}}" class="full-height">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="slide-hold">
                                <img ng-src="{{product.image | imagepath}}" class="full-height">
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
                <div class="padding-top"></div>
                <h3>{{product.name}} </h3>
                <p class="price">Rs. {{product.price}}</p>
                <p class="greyish">Buying From <a href="{{product.url}}" target="_blank">{{product.url}}</a>
                </p>
                <a class="button button-block button-positive" href="#/tab/good/buy/placeorder/{{product.id}}">
                    Buy Now
                </a>
           

    </ion-content>

</ion-view>
