<ion-view>
    <ion-content class="has-header1 padding">


           <div class="box-thumbnail inside-page">
                    <ion-slide-box>
                        <ion-slide>
                            <div class="slide-hold">
                                <img src="img/iphone.jpg" class="full-height">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="slide-hold">
                                <img src="img/iphone.jpg" class="full-height">
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
                <div class="padding-top"></div>
                <h3>Apple iPhone 5S, Silver, 16 GB </h3>
                <p class="price">Rs. 37,500</p>
                <p class="greyish">Buying From <a href="href://www.amazon.com" target="_blank">Amazon.com</a>
                </p>
                <a class="button button-block button-positive" href="#/tab/good/buy/placeorder">
                    Buy Now
                </a>
           

    </ion-content>

</ion-view>
