<ion-view>
    <ion-nav-title class="sergy-title">
        <h5><i class="ion-record small online" ng-show="online"></i><i class="ion-record small offline"></i> Sergy</h5>
        <p>
            <span>OFFLINE - 1h 22m ago</span>
            <span ng-show="online">ONLINE</span>
        </p>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios7-drag"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <i class="icon1 i-order"></i>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
        <ol class="messages" ng-repeat="message in allchats">
            <li class="{{message.name|chatclass}}">
                <p>
                    {{message.name}} : {{message.text}}
                    <br><span class="small-right">{{message.timestamp|converttime}}</span>
                </p>
            </li>

        </ol>
        <chat></chat>
    </ion-content>
    <ion-footer-bar class="bar-stable bar-white chat-bar">
        <form ng-submit="send(chat);">

            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <input type="text" ng-model="chat.message" placeholder="Your message" style="width:100%;">
                    </td>
                    <td>
                        <input type="submit" value="SEND">
                    </td>
                </tr>
            </table>

        </form>
    </ion-footer-bar>

    </ion-content>
</ion-view>
