<ion-view title="Chat">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">

        <ol class="messages" ng-repeat="message in allchats">
            <li class="{{message.name|chatclass}}">
                <p>{{message.name}} : {{message.text}}</p>
            </li>
               <li class="{{message.name|chatclass}}">
                <p>{{message.name}} : {{message.text}}</p>
            </li>

        </ol>
    </ion-content>
    <ion-footer-bar class="bar-stable">
       <form ng-submit="send(chat);">
             <input type="text" class="chat-type" ng-model="chat.message" placeholder="Start typing...">
            <button class="button button-clear button-positive pull-right" type="submit">Send</button>
        </form>
    </ion-footer-bar>

    </ion-content>
</ion-view>
