<ion-view>
    <ion-nav-title class="sergy-title">
        <h5><i class="ion-record small" ng-class="line"></i>
<!--        <i class="ion-record small offline" ng-if="!online"></i>-->
         Sergy</h5>
        <p>
            <span ng-if="lastseen.text=='off'">OFFLINE - {{lastseen.timestamp|date:"h:mma"}}</span>
            <span ng-if="lastseen.text=='on'">ONLINE</span>
        </p>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios7-drag"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <i class="icon1 i-order"></i>
    </ion-nav-buttons>

    <ion-content class="has-header padding" style="overflow-y: auto;">
        <!--        <chat></chat>-->

        <ol class="messages" ng-repeat="message in allchats|orderBy:'timestamp':false">
            <li class="{{message.name|chatclass}}" ng-if="message.type!=3 && message.type!=4 && message.type!=5">
                <p>
                    <span ng-bind-html="message.text | linky:'_blank'"></span>
                    <br><span class="datetime">{{message.timestamp|date:"h:mma"}}</span>
                </p>
            </li>

            <!--            li for form-->
            <li class="{{message.name|chatclass}}" ng-if="message.type==3">

                <p ng-init="formm = convertform(message.text);">

                    <!--                    {{formjson|json}}-->
                    <span class="form-title">{{formm.name}}</span>

                    <span class="assertive inform button-assertive">{{msg}}</span>

                    <span ng-repeat="form in formm.json">
                        
                    <input type="text" placeholder='{{form.placeholder}}' ng-model="form.val" class="form-control inform" ng-if="form.type=='text'">
                       
                    <input type="password" placeholder='{{form.placeholder}}' ng-model="form.val"  class="form-control inform" ng-if="form.type=='password'">
                       
                    <label class="item item-input item-select" ng-if="form.type=='selection'">
    
                        <select  ng-model="form.val" class="form-control inform" >
                               
                                <option>{{form.placeholder}}</option>
                                
                                <option ng-repeat="frm in form.value">{{frm.title}}</option>
                                
                        </select>
                        
                    </label>

                        
                    <br>
                    
                    </span>

                    <button class="button button-block button-positive button-small button-outline" ng-click="submitt(formm,message)">Submit</button>

                    <span class="small-right">{{message.timestamp|converttime}}</span>

                </p>

            </li>

            <!--            li for product-->
            <li class="{{message.name|chatclass}}" ng-if="message.type==4">
               
                <p ng-init="form=convertproduct(message.text);">

                    <span class="form-title">{{form.name}}</span>
                    
                    <span>
                       <img src="{{form.image|imagepath}}" width="100">
                    </span>
                    
                    <span class="form-info">Price</span>
                    
                    <span>{{form.price}}</span>
                    
                    <span class="form-info">Details</span>
                    
                    <span>{{form.details}}</span>
                    
                    <button class="button button-block button-positive button-small button-outline" ng-click="placeorder(form)">Place Order</button>
                    
                    <span class="small-right">{{message.timestamp|converttime}}</span>
                </p>
            </li>
            
            <!--            li for Form Return-->
            <li class="{{message.name|chatclass}}" ng-if="message.type==5">
               
                <p ng-init="form=convertproduct(message.text);">
                
                    <span class="form-title">Your Data Of {{form.name}}</span>
                    
                    <span ng-repeat="formdata in form.json">
                       
                        <span class="form-info">{{formdata.name}}</span>
                    
                        <span ng-if="formdata.val">{{formdata.val}}</span>
                        
                        <span ng-if="!formdata.val">NA</span>
                        
                    </span>
                    
                    <br>
                    
                    <span class="small-right">{{message.timestamp|converttime}}</span>
                    
                </p>
                
            </li>

        </ol>
    </ion-content>
    <ion-footer-bar class="bar-stable bar-white chat-bar">
        <form ng-submit="send(chat, 1)">

            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <!--                        <input type="text" ng-model="chat.message" id="txtSendTo" placeholder="Your message" ng-class="allvalidation[0].validation" style="width:100%;" autofocus required>-->
                        <input type="text" ng-model="chat.message" id="txtSendTo" placeholder="Your message" style="width:100%;" ng-change="checksend()" ng-focus="checksend()">
                    </td>
                    <td>
                        <input type="submit" ng-if="showsend" value="SEND">
                    </td>
                </tr>
            </table>

        </form>
    </ion-footer-bar>

    </ion-content>
</ion-view>
