<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title icon ion-ios7-drag"></h1>
        </header>

        <ion-content class="has-header1 menus-content">
            <ion-list class="list">
                <ion-item nav-clear menu-close href="#/tab/travel">
                    <i class="icon1 i-order white"></i>
                    Orders
                </ion-item>
<!--
                <ion-item nav-clear menu-close href="#/app/return">
                    <i class="icon1 i-return white"></i>
                    Returns
                </ion-item>
-->
                <ion-item nav-clear menu-close href="#/app/shipping">
                    <i class="icon1 i-shipping white"></i>
                    Shipping
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/billing">
                    <i class="icon1 i-billing white"></i>
                    Billing
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/setting">
                    <i class="icon1 i-setting white"></i>
                    Settings
                </ion-item>
            </ion-list>

            <ion-list class="list after-menu">
                <ion-item nav-clear menu-close href="#/app/faq">
                    FAQ
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/tnc">
                    Terms &amp; Condition
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/privacy">
                    Privacy
                </ion-item>
                <ion-item nav-clear menu-close ng-click="share();">
                    Share
                </ion-item>
                <ion-item nav-clear menu-close>
                    <a class="item-content" href="#/logout">
                     Logout
                </a>
                </ion-list>
            </ul>

            <div class="footer">
                <p><i class="icon ion-ios7-heart-outline f2x"></i>  <b>Sergy?</b> invite a friend</p>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
