<div class="modal">
  <ion-header-bar>
    <h1 class="title">Registration</h1>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" id="loginname" ng-model="registerdata.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="loginemail" ng-model="registerdata.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="loginpassword" ng-model="registerdata.password" >
        </label>
      </div>
      
      <div class="padding">
           <button class="button button-block button-dark" ng-click="normalregister(registerdata);" type="submit">Sign Up</button>
      </div>
  </ion-content>
</div>
