<ion-tabs class="tabs-icon-only">

    <!-- Travel Tab -->
    <ion-tab title="Travel" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="tab-travel"></ion-nav-view>
    </ion-tab>

    <!-- Hotel Tab -->
    <ion-tab title="Hotel" icon="icon ion-android-reminder" href="#/tab/notification">
        <ion-nav-view name="tab-hotel"></ion-nav-view>
    </ion-tab>

    <!-- Goods Bag Tab -->
    <ion-tab title="Goods" icon="icon ion-bag" href="#/tab/shopping">
        <ion-nav-view name="tab-good"></ion-nav-view>
    </ion-tab>

    <!-- Shows Tab -->
    <ion-tab title="Shows" icon="icon ion-ios7-heart" href="#/tab/favorites">
        <ion-nav-view name="tab-show"></ion-nav-view>
    </ion-tab>

    <!-- Bills Tab -->
    <ion-tab title="Bills" icon="icon ion-ios7-gear" href="#/tab/setting">
        <ion-nav-view name="tab-bill"></ion-nav-view>
    </ion-tab>

</ion-tabs>
