<ion-tabs class="tabs-icon-only">


    <!-- Home Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>


    <!-- Notification Tab -->
    <ion-tab title="Notification" icon="icon ion-android-reminder" href="#/tab/notification">
        <ion-nav-view name="tab-notification"></ion-nav-view>
    </ion-tab>


    <!-- Shopping Bag Tab -->
    <ion-tab title="Bag" icon="icon ion-bag" href="#/tab/shopping">
        <ion-nav-view name="tab-shopping"></ion-nav-view>
    </ion-tab>

    <!-- Favourites Tab -->
    <ion-tab title="Favorites" icon="icon ion-ios7-heart" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Bag" icon="icon ion-ios7-gear" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>


</ion-tabs>
