<ion-nav-bar class="bar-stable bar-header">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-thin-left" ng-click="gotochat()" href="#/app/chat"></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top big-txt tabs-bottom">

    <!-- Travel Tab -->
    <ion-tab title="Travel" icon="icon2 i-travel" href="#/tab/travel">
        <ion-nav-view name="tab-travel"></ion-nav-view>
    </ion-tab>

    <!-- Hotel Tab -->
    <ion-tab title="Hotel" icon="icon2 i-hotel" href="#/tab/hotel">
        <ion-nav-view name="tab-hotel"></ion-nav-view>
    </ion-tab>

    <!-- Goods Tab -->
    <ion-tab title="Goods" icon="icon2 i-good" href="#/tab/good">
        <ion-nav-view name="tab-good"></ion-nav-view>
    </ion-tab>

    <!-- Shows Tab -->
    <ion-tab title="Shows" icon="icon2 i-show" href="#/tab/show">
        <ion-nav-view name="tab-show"></ion-nav-view>
    </ion-tab>

    <!-- Bills Tab -->
    <ion-tab title="Bills" icon="icon2 i-bill" href="#/tab/bill">
        <ion-nav-view name="tab-bill"></ion-nav-view>
    </ion-tab>

</ion-tabs>
